<div class="divisor"></div>
<main>
    <form class="form-add-new-contract" action="/contract/create" method="POST">
        <div class="title-form poppins-bold">Novo Contrato</div>

        <div class="area-input">
            <input type="text" name="name" placeholder="Nome da empresa" required>
        </div>
        <div class="area-input">
            <input type="text" name="contractstart" placeholder="Início do contrato" required>
        </div>
        <div class="area-input">
            <input type="text" name="descriptionservice" placeholder="Descrição do serviço" required>
        </div>
        <div class="flex-btn-form ">
            <input class="btn-add" type="submit" value="Cadastrar">
            <input class="btn-cancel" type="submit" value="Cadastrar">
        </div>
         <a class="btn-back-home poppins-light" href="/">Voltar a home</a>
    </form>
</main>