<main>
  <div class="box-home">
    <div class="text-left">
      <div class="welcome poppins-regular">Olá, seja bem vindo</div>
      <div class="home-text-xl poppins-black">Dashboard</div>
      <div class="home-text-md poppins-light">Cadastre seus novos contratos e
        faça edições</div>
      <div class="btn-action-home">
        <a class="btn-home visualizar poppins-regular" href="/contracts">Visualizar
          contratos</a>
        <a class="btn-home adicionar poppins-regular" href="/contract/create">Cadastrar novo</a>
      </div>
    </div>

    <div class="image-right">
      <img src="images/register-home.svg" alt="" />
    </div>
  </div>
</main>